@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

:root {
    --green: #4f90f7;
    --red: #d93434;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    padding-bottom: 0.5em; padding-top: 0.5em;
    text-decoration: underline;
    font-size: 32px;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

a {
    color: var(--green);
}

a:hover {
    animation: hover-effect 1s infinite linear;
}

.card {
    margin-bottom: 1.5em;
}

.description {
    padding-bottom: 0.5em;
    font-size: 18px;
}

nav {
    padding: 10em;
}

.navbar-logo {
    width: 40px;
}

.nav-item {
    font-weight: 700;
}


@keyframes hover-effect {
    0% {
        color: var(--green);
    }
    50% {
        color: var(--red);

    }
    100% {
        color: var(--green);
    }
}