<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href='https://css.gg/home-alt.css' rel='stylesheet'>
    <link rel="stylesheet" href="static/app.css">
    <title>{{ title }}</title>
</head>
<body>
  <header>
    <nav>
      <a href="/"><?xml version="1.0" encoding="UTF-8"?><svg fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m6 22.879c-1.6568 0-3-1.3432-3-3v-10c0-0.03389 0.00169-0.0674 0.00498-0.10043h-0.00498c0-0.57596 0.2288-1.1283 0.63607-1.5356l6.2426-6.2426c1.1715-1.1716 3.071-1.1716 4.2426 0l6.2426 6.2426c0.4073 0.40726 0.6361 0.95963 0.6361 1.5356h-5e-3c0.0033 0.03303 5e-3 0.06654 5e-3 0.10043v10c0 1.6568-1.3431 3-3 3h-12zm6.7071-19.464 6.2929 6.2929v10.172c0 0.5522-0.4477 1-1 1h-3v-5c0-1.6569-1.3431-3-3-3s-3 1.3431-3 3v5h-3c-0.55228 0-1-0.4478-1-1v-10.172l6.2929-6.293c0.3905-0.39052 1.0237-0.39052 1.4142 0z" clip-rule="evenodd" fill="currentColor" fill-rule="evenodd"/></svg></a>
      <a href="/projects"><?xml version="1.0" encoding="UTF-8"?><svg fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m3 5c0-1.6568 1.3432-3 3-3h8c3.866 0 7 3.134 7 7v10c0 1.6569-1.3431 3-3 3h-12c-1.6568 0-3-1.3431-3-3v-14zm10-1h-7c-0.55228 0-1 0.44772-1 1v14c0 0.5523 0.44772 1 1 1h12c0.5523 0 1-0.4477 1-1v-10h-6v-5zm5.584 3c-0.6427-1.4709-1.9727-2.5729-3.584-2.9v2.9h3.584z" clip-rule="evenodd" fill="currentColor" fill-rule="evenodd"/></svg></a>
    </nav>
  </header>
  <main>
    <div class="container">
      {% block content %} {% endblock %}
  </div>
  </main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>