{% extends 'base.html'%}
{% block content %}
<h1>Projects</h1>
<h3 class="description">A curated list of projects that I have written (mostly) during my free time and from sc</h3>
<div class="row">
    {% for item in items %}
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.description }}</p>
          <a href="#" class="btn btn-primary">{{ item.image_url }}</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endblock %}