{% extends 'base.html' %}

{% block content %}
<main>
    <!-- About -->
    <div class="about center">
      <h1>Hi I'm <span class="about__name">Ashwin.</span></h1>
      <h2 class="about__role">Software Developer/Student</h2>
      <p class="about__desc">
        Expressing my undying passion for technology by researching, designing, and creating applications that solve problems. From <a href="/projects#vlone">stopping hackers</a> to predicting <a href="/projects#stockbot">stock prices</a>.  
      </p>

      <div class="about__contact center">
        <a
          href="https://github.com/ax20"
          aria-label="github"
          class="link link--icon"
        >
          <i aria-hidden="true" class="fab fa-github"></i>
        </a>

        <a
          href="https://linkedin.com/in/ax2"
          aria-label="linkedin"
          class="link link--icon"
        >
          <i aria-hidden="true" class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>

    <!-- Projects -->
    {% if sample_projects %}
    <section id="projects" class="section projects">
      <h2 class="section__title">A Few Projects</h2>

      <div class="projects__grid">
        {% for project in sample_projects %}
        <div class="project">
          <h3>{{ project.title }}</h3>
          <p class="project__description">
            {{ project.description }}
          </p>
          <ul class="project__stack">
            {% for stack in project.stack %}
            <li class="project__stack-item">{{ stack }}</li>
            {% endfor %}
          </ul>

          {% if project.github_repository %}
          <a
            href="{{ project.github_repositroy }}"
            aria-label="source code"
            class="link link--icon"
          >
            <i aria-hidden="true" class="fab fa-github"></i>
          </a>
          {% endif %}

          {% if project.project_id %}
          <a
            href="/projects/{{ project.project_id }}"
            aria-label="live preview"
            class="link link--icon"
          >
            <i aria-hidden="true" class="fas fa-external-link-alt"></i>
          </a>
          {% endif %}
        </div>
        {% endfor %}
        
      </div>

      <div class="more">
        <a href="/projects">
          <span class="btn btn--outline">view more...</span>
        </a>
      </div>
    </section>
    {% endif %}

    <!-- Skills -->
    <section class="section skills" id="skills">
      <h2 class="section__title">Technologies</h2>
      <ul class="skills__list">
        {% for tech in technologies %}
        <li class="skills__list-item btn btn--plain">{{tech}}</li>
        {% endfor %}
      </ul>
    </section>

    <!-- Contact -->
    <section class="section contact center" id="contact">
      <h2 class="section__title">Get in touch</h2>
      <a href="mailto:ashwincharath@gmail.com">
        <span class="btn btn--outline">Email me</span>
      </a>
    </section>
  </main>
{% endblock %}