{% extends 'base.html'%}
{% block content %}
{% if projects %}
   <section id="projects" class="section projects">
      <h2 class="section__title">A Few Projects</h2>
      <div class="projects__grid">
        {% for project in projects %}
        <div class="project">
          <h3>{{ project.title }}</h3>
          <p class="project__description left">
            {{ project.description }}
          </p>
          <ul class="project__stack">
            {% for stack in project.stack %}
            <li class="project__stack-item">{{ stack }}</li>
            {% endfor %}
          </ul>
          {% if project.project_id %}
          <a
            href="/projects/{{ project.project_id}}"
            aria-label="live preview"
            class="disabled link link--icon"
          >
          </a>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      </div>
    </section>
    {% endif %}
  {% endblock %}