{% extends 'base.html'%}
{% block content %}
{% if projects %}
    <section id="projects" class="section projects">
      <h2 class="section__title">Projects</h2>

      <div class="projects__grid">
        {% for project in projects %}
        <div class="project">
          <h3>{{ project.title }}</h3>
          <p class="project__description">
            {{ project.description }}
          </p>
          <ul class="project__stack">
            {% for stack in project.stack %}
            <li class="project__stack-item">{{ stack }}</li>
            {% endfor %}
          </ul>

          {% if project.github_repo %}
          <a
            href="{{ project.github_repo }}"
            aria-label="source code"
            class="link link--icon"
          >
            <i aria-hidden="true" class="fab fa-github"></i>
          </a>
          {% endif %}

          {% if project.demo_site %}
          <a
            href="{{ project.demo_site}}"
            aria-label="live preview"
            class="link link--icon"
          >
            <i aria-hidden="true" class="fas fa-external-link-alt"></i>
          </a>
          {% endif %}
        </div>
        {% endfor %}
        
      </div>
    </section>
    {% endif %}
  {% endblock %}