{% extends 'base.html'%}
{% block content %}
{% if projects %}
    <section id="projects" class="section projects">
      <h2 class="section__title">Projects</h2>

        {% for project in projects %}
        <div class="project">
          <h3>{{ project.title }}</h3>
          <p class="project__description left">
            {{ project.description }}
          </p>
          <ul class="project__stack">
            {% for stack in project.stack %}
            <li class="project__stack-item">{{ stack }}</li>
            {% endfor %}
          </ul>
          {% if project.demo_site %}
          <a
            href="{{ project.demo_site}}"
            aria-label="live preview"
            class="disabled link link--icon"
          >
          (Coming Soon)
          </a>
          {% endif %}
        </div>
        {% endfor %}
        
      </div>
    </section>
    {% endif %}
  {% endblock %}